*.iml
*.lock
*.log
*.pid
*.metadata
*.sqlite
*.dio
.g.dart
/.dart_tool/
/.flutter-plugins
/.flutter-plugins-dependencies
/.idea/
/.vscode/
/build/
/ios/Flutter
/android/gradle/
/flutter/
/pubspec.lock
/pubspec.yaml.
/pubspec.yaml
/.pub-cache/
/.packages
.DS_Store

/assets
android/app/google-services.json
lib/firebase_options.dart
ios/firebase_app_id_file.json
ios/Runner/GoogleService-Info.plist
macos/firebase_app_id_file.json
